* {
    font-family: monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-fafafa: #fafafa;
    --color-ebebeb: #ebebeb;
    --color-ebe844: #ebe844; 
    --color-141210: #141210;
} 

body {
    color: white;
    background-color: var(--color-ebebeb);
}


a {
    text-decoration: none;
    color: inherit;
}

/* Menu Lateral */

.side-menu {
    position: fixed;
    background-color: var(--color-fafafa);
    padding: 70px 10px 0 10px;
    display: flex;
    gap: 20px;
    transition: width .5s ease;
    overflow: hidden;
    z-index: 50;
    color: #000;
}

.side-menu__link {
    padding: 3px 0 3px 3px;
}

.side-menu__link:hover {
    border-radius: 20px;
    background-color: #bbb;
}

/* Menu superior */

.top-menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 50px;
    z-index: 60;
    background-color: var(--color-fafafa);
    color: #000;
    padding: 0 10px;
    box-shadow: 0px 0px 10px 0px black;

    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.25rem;
    gap: 10px;
    font-weight: bolder;
}

.top-menu a{
    transition: background-color .5s ease, transform .5s ease;
    border-radius: 20px;
    padding: 5px;
}

.top-menu a:hover {
    background-color: #cacaca;
    transform: scale(1.05);
}

.top-menu__perfil {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.25rem;
    gap: 10px;
    padding-right: 10px;
}

.top-menu__perfil .top-menu__perfil-img {
    width: 35px;
    height: 35px;
    object-fit: cover;
    object-position: top;
}

.top-menu__links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 45%;
}

.top-menu__login {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px
}

.top-menu__login .top-menu__login-button {
    padding: 10px;
    background-color: var(--color-ebe844);
    border-radius: 20px;
}
/* >>>>>>>MEDIA QUERY<<<<< */

/* Menu lateral desktop */

@media screen and (min-width: 541px) {
    .side-menu {
    top: 0;
    bottom: 0;
    right: 0;
    flex-direction: column;
    width: 50px;
    }

    .side-menu:hover {
    width: 200px;
    }

    .side-menu .side-menu__logo {
    display: grid;
    grid-template-columns: auto 1fr;
    width: 100%;
    gap: 20px;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 2px solid #7777;
    }
    
    .side-menu .side-menu__links {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    }
    
    .side-menu .side-menu__link {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px;
    align-items: center;
    text-decoration: none;
    }

    .side-menu .side-menu__logo-img  {
    width: 25px;
    height: 25px;
    opacity: 1;
    }

    .side-menu .side-menu__link-svg  {
    width: 25px;
    height: 25px;
    opacity: 1;
    fill: none;
    stroke: currentColor;
    }
    
    .side-menu .side-menu__title {
    opacity: 0;
    text-decoration: none;
    pointer-events: none;
    visibility: hidden;
    font-weight: bolder;
    font-size: 1.2rem;
    transition: opacity .4s ease-in, visibility .4s ease;
    white-space: nowrap;
    }
    
    .side-menu:hover .side-menu__title {
    opacity: 1;
    pointer-events: all;
    visibility: visible;
    }

    h1.side-menu__title {
    font-size: 2rem;
    }

    .section-1 {
    margin-left: 50px;
    margin-top: 50px;
    }
}

/* Menu lateral mobile */

@media screen and (max-width: 540px) {
    .side-menu {
    bottom: 0;
    left: 0;
    right: 0;
    height: 80px;
    width: 100%;
    padding: 5px;
    }

    .side-menu .side-menu__logo {
    display: none;
    }

    .side-menu .side-menu__links {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    }

    .side-menu .side-menu__link {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
    gap: 3px;
    width: 25%;
    }

    .side-menu .side-menu__logo-img {
    width: 30px;
    height: 30px;
    opacity: 1;
    }

    .side-menu .side-menu__link-svg {
    width: 30px;
    height: 30px;
    opacity: 1;
    fill: none;
    stroke: currentColor;
    }
}

/*//////////////////////*/

main {
    margin: 50px 50px 0px 0px;
    border-radius: 20px;
}

main::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    background-color: #0004;
    opacity: 0;
    transition: opacity .5s ease;
}

body:has(.side-menu:hover) main::after {
    opacity: 1;
}

.section-1, .section-2, .section-3, .section-4{
    color: black;
    height: 100vh;
    padding: 10px
}
.section-1__title {
    text-align: center;
    font-size: 2rem;
}
.contacts-panel {
    display:flex;
    justify-content: space-around;
    align-items: start;
    padding: 10px;
    gap: 10px;
}

.contacts-panel__box {
    outline: 2px black solid;
    border-radius: 20px;
    padding: 20px;
    min-height: 330px
}
.contacts-panel__title {

}
.contacts-panel__form {
    padding: 20px;
    border-radius: 20px 5px 20px 20px;
    margin: 10px;
}
.contacts-panel__form-label {
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
}

.contacts-panel__input {
    margin: 3px 0;
    padding: 5px;
    border-radius: 0 20px 10px 0px;
    border: none;
    border: 2px solid black;
    border-top: none;
    border-left: none;
}

.contacts-panel__form-submit {
    padding: 5px;
    border-radius: 10px;
    transition: background-color .5s ease, transform .5s ease;
}

.contacts-panel__form-submit:hover {
    background-color: #ccc;
    transform: scale(1.05);
}

.contacts-panel__answer {
    font-size: 1.2rem;
}

.section-3 {
    background-color: var(--color-141210);
}

.section-3__box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
    padding: 30px 0;
}

.section-3__card {
    background-color: #cccc;
    padding: 20px;
    border-radius: 20px;
}

.section-3__card-title {
    font-size: 1.2rem;
}

.section-4 {
    background-color: #000;
}